.app {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.editor {
    height: 30rem;
    margin-bottom: 1rem;
}

.output-view {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    height: 10rem;
    overflow: scroll;
}

.cm-editor {
    height: 100%;
}

.cm-scroller {
    overflow: auto;
}

.viewer {
    font-family: 'Courier New', Courier, monospace;
}

.last-instruction {
    background-color: lightcoral;
}

.last-data {
    background-color: cornflowerblue;
}

.last-pointer {
    background-color: rgb(127, 234, 129);
}

.last-dummy {
    background-color: darkgray;
}

.error {
    background-color: red;
}